.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 111px;
    position: relative;
    z-index: 999;
    background: #191919;
}

.nav_top {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 15px 0;
    margin-right: 50px;
}


.nav_bottom {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav_list {
    width: 100%;
    background-color: #B12525;
    border-top-left-radius: 100px;
    overflow: hidden;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%);;
}


.nav_list ul {
    float: right;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_list ul li {
    list-style: none;
    float: left;
    width: auto;
    padding-right: 20px;
    position: relative;
}

.nav_list ul li:last-child {
    padding-right: 15px
}

.nav_list ul li a {
    float: left;
    width: auto;
    text-transform: uppercase;
    position: relative;
    color: #fff;
    font-weight: 600;
    padding: 25px 10px 24px;
    line-height: 11px;
    font-size: 12px;
}


.navburger {
    display: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    margin-right: 30px;
}

@media screen and (max-width: 1000px) {
    .navburger {
        display: flex;
    }
    .logo{
        margin-left: 30px;
    }
    .nav_top{display: none}
    .nav_bottom {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
        justify-content: center;
        align-items: center;
    }

    .nav_bottom.open {
        top: 100%;
        height: 75vh; /* Menu butun balandlikni egallaydi */
    }
    .nav_bottom .nav_list{
        clip-path: none;
        display: flex;
        height: 100%;
        border-top-left-radius: 0;
    }
    .nav_bottom .nav_list ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .logo{
        width: 50%;}
}